<div class="container mb-5">
    <h1 class="text-center">Catalogo principal</h1>
    <div class="row mt-5 d-flex justify-content-center">  
        <div class="col-8 mt-5">
            <div class="row" *ngIf="musicFlag || vipFlag">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                          Música
                        </div>
                    <div class="card-body">
                          <h5 class="card-title">Descubre la música que deseas:</h5>
                          <div class="card-group" >
                            <div class="card pr-4" style="width: 10rem;" *ngFor="let music of productListMusic">
                              <img src="../../../assets/images/{{music.image}}" class="card-img-top" style="width: 150px; height: 150px;" >
                              <div class="card-body">
                                  <h5 class="card-title">{{music.name}}</h5>
                                <p class="card-text">{{music.description}}</p>
                                <p class="card-text">Precio: ${{music.price}}</p>
                              </div>
                                  <button type="button" class="btn btn-success" (click)= "addtoPlaylist(music.name)">Agregar</button>
                              </div>   
                          </div>
                    </div>
                      </div>
                </div>
            </div>
            <div class="row mt-5" *ngIf="videoFlag || vipFlag">
                <div class="col-12 ">
                    <div class="card">
                        <div class="card-header">
                          Películas
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Increíbles Peliculas para todos los gustos:</h5>
                          <div class="card-group" >
                            <div class="card pr-4" style="width: 10rem;" *ngFor="let movie of productListMovies">
                              <img src="../../../assets/images/{{movie.image}}" class="card-img-top" style="width: 150px; height: 150px;">
                              <div class="card-body">
                                  <h5 class="card-title">{{movie.name}}</h5>
                                <p class="card-text">{{movie.description}}</p>
                                <p class="card-text">Precio: ${{movie.price}}</p>
                              </div>
                                <button type="button" class="btn btn-success" (click)= "addtoPlaylist(movie.name)">Agregar</button>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5" *ngIf="videoFlag || vipFlag || musicFlag">
            <h3>Lista de reproducción:</h3>
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                Mi lista:
              </div>
              <ul class="list-group list-group-flush" *ngFor="let product of productAdd">
                <a href="http://"></a>
                <li class="list-group-item"><a href="">{{product.name}}, {{product.description}}</a></li>
              </ul>
            </div>
        </div>
    </div>  
</div>



<div *ngIf="onDemandFlag" class="container mb-5">
  <div class="row mt-5 d-flex justify-content-center">  
      <div class="col-8 mt-5">
          <div class="row" >
              <div class="col-12">
                  <div class="card">
                      <div class="card-header">
                        Música
                      </div>
                  <div class="card-body">
                        <h5 class="card-title">Descubre la música que deseas:</h5>
                        <div class="card-group" >
                          <div class="card pr-4" style="width: 10rem;" *ngFor="let music of productListMusic">
                            <img src="../../../assets/images/{{music.image}}" class="card-img-top" style="width: 150px; height: 150px;" >
                            <div class="card-body">
                                <h5 class="card-title">{{music.name}}</h5>
                              <p class="card-text">{{music.description}}</p>
                              <p class="card-text">Precio: ${{music.price}}</p>
                            </div>
                                <button type="button" class="btn btn-success"  (click)= "addtoInventory(music.name)">Comprar</button>
                            </div>   
                        </div>
                  </div>
                    </div>
              </div>
          </div>
          <div class="row mt-5" >
              <div class="col-12 ">
                  <div class="card">
                      <div class="card-header">
                        Películas
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Increíbles Peliculas para todos los gustos:</h5>
                        <div class="card-group" >
                          <div class="card pr-4" style="width: 10rem;" *ngFor="let movie of productListMovies">
                            <img src="../../../assets/images/{{movie.image}}" class="card-img-top" style="width: 150px; height: 150px;">
                            <div class="card-body">
                                <h5 class="card-title">{{movie.name}}</h5>
                              <p class="card-text">{{movie.description}}</p>
                              <p class="card-text">Precio: ${{movie.price}}</p>
                            </div>
                              <button type="button" class="btn btn-success" (click)= "addtoInventory(movie.name)" >Comprar</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
      <div class="col-4 mt-5">
          <h3>Inventario de compra:</h3>
          <div class="card" style="width: 18rem;">
            <div class="card-header">
              Mi lista:
            </div>
            <ul class="list-group list-group-flush" *ngFor="let product of productAdd">
              <a href="http://"></a>
              <li class="list-group-item"><a href="">{{product.name}}, {{product.description}}</a></li>
            </ul>
          </div>
      </div>
  </div>  
</div>